[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-sqlalchemy = "*"
alembic = "*"

## for email validation
pydantic = "*"

## for loading environment variables
python-dotenv = "*"

## for database a
psycopg = "*"
psycopg2-binary = "*"
sqlalchemy = "*"

## for password hashing
passlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
